
__________________________________________________

AS/BS in Computer Science, Engineering, or equivalent experience
Proficiency in C++ and Python
Experience with cloud technologies or a strong desire to learn (Kubernetes, Helm, Terraform)
Interest in learning Golang for cloud service development
Strong problem-solving mindset – ability to automate tasks and improve workflows
Excellent verbal and written communication skills
Passion for gaming and technology – Enthusiastic about game development, cloud infrastructure, and the future of online gaming

__________________________________________________

Programming Languages:
Proficiency in Golang, knowledge of GIN, GORM, and other related frameworks.
Proficiency in Python, including knowledge of frameworks like Django or Flask.
Experience with Java, Spring Boot, SOAP, and WSDL is a plus.
SQL Databases:
Expertise in relational databases such as PostgreSQL and MySQL.
Proficiency in database schema design, normalization, and optimization.
Advanced SQL query writing and performance tuning.
NoSQL Databases:
Extensive experience with NoSQL databases such as MongoDB, Google Firestore, Cassandra, Couchbase, or Redis.
Ability to design and manage schemas for NoSQL databases and optimize queries for performance.
APIs and Backend Development:
Expertise in designing and implementing RESTful APIs.
Experience with WSDL and SOAP-based Web services is a plus.
Experience with GraphQL APIs is a plus.
Knowledge of designing and deploying microservices architectures.
Knowledge of designing and developing with event driven architecture.
Database Management:
Proficiency in data modeling and understanding of CAP theorem and eventual consistency.
Implementing data validation and integrity constraints.
Performance Optimization:
Skills in optimizing backend services for performance and scalability.
Experience with caching strategies and tools (e.g., Redis, Memcached).
Security:
Knowledge of security practices for backend development (e.g., authentication, authorization, encryption).
Understanding of common security vulnerabilities and how to mitigate them.
Bachelor's degree in Computer Science, Information Technology, or a related field.
Proven experience as a Backend Developer or similar role.
Competitive compensation
Comprehensive insurance options
Matching contributions through the 401(k) plan and the share purchase plan
Paid time off for vacation, holidays, and sick time
Paid parental leave
Learning opportunities and tuition assistance
Wellness and Well-being programs

__________________________________________________


__________________________________________________


__________________________________________________

Knowledge ofJavaScript, React, TypeScript, and Node
Equity opportunities

__________________________________________________


__________________________________________________

U.S. Citizenship is required.
Candidate must be able to obtain Public Trust clearance
This position is currently remote but may change due to contractual requirements.
Must reside in DC, MD, VA, WV
Bachelor's degree in Computer Science or a related field
minimum of 3 years of hands-on experience with Java and Angular frameworks.
Familiarity with RESTful APIs and web services.
Familiar with Agile software development, and DevOps tool chain
Strong problem-solving skills and attention to detail.
Excellent communication and teamwork abilities.

__________________________________________________


__________________________________________________


__________________________________________________


__________________________________________________

Bachelor's degree in Computer Science or an adjacent field. (Degree in a STEM field is preferred.)
Proven experience developing applications with C# and.NET Core (or similar languages/frameworks).
Experience building and maintaining public-facing web applications.
Knowledge of modern front-end technologies like Vue.js or similar frameworks.
Strong understanding of relational databases and SQL Server.
Experience building and consuming APIs (SOAP, REST, WCF).
Familiarity with multitenant application architecture.
Exposure to distributed caching (e.g., Redis) and search technologies (e.g., ElasticSearch).
Experience with various Design Patterns (MVC, MVVM, etc.), SOA and other Architectural concepts.
Experience with Digital Marketing such as Google Ads, Facebook Marketing.
Experience building Applications in AWS.
Experience with Docker or other container solutions.

__________________________________________________


__________________________________________________


__________________________________________________

Develop, test, and deploy LLM-powered extraction pipelines for clinical text at scale.
Automate prompt execution, result validation, and error handling to enhance reliability.
Monitor and maintain production AI models, ensuring uptime, accuracy, and compliance.
Work with product, data, engineering, and clinical teams to integrate AI outputs into real-world solutions.
Evaluate and integrate third-party AI solutions when appropriate.
Stay current with advancements in LLM deployment, model serving, and responsible AI practices.
1+ years of experience in LLM evaluation
Strong software engineering foundation with proficiency in Python.
Familiarity with cloud platforms, data engineering and pipeline automation.
Bachelor’s degree in Computer Science, AI, a related field, or equivalent work experience.
Strong cross-functional collaboration skills.
Proven track record of thriving in a start-up environment.
2+ years of experience in AI deployment or applied Machine Learning.
Advanced degree in Computer Science or related field.
Experience integrating AI with healthcare data (EHRs, clinical databases).
Experience working in regulated industries with an understanding of security, compliance, and responsible AI.

__________________________________________________

Developing and maintaining micro service software applications and REST APIs
Node.JS and/or Python application development
Web based user interface development using React or similar framework
Linux software development
Iterative / Agile software development
IP networking experience
UDP/TCP/WebSocket communication protocols
Possess excellent organizational and communications skills
Able to prioritize work and maximize productivity
Ability to obtain and maintain a TS DoD Clearance.
U.S. Citizenship required
Developing visualization and analysis and/or mission planning software applications
Radar, signals intelligence, and/or electronic warfare product development
Integrating payloads and sensor systems into command and control applications
Geospatial mapping frameworks such as MapBoxGL, Leaflet, Google Earth
Python and Juypter Notebook
Git, Artifactory, and Jenkins
NoSQL databases such as MongoDB and AWS/cloud deployment of applications
Virtualization using VMs and Docker
ATAK/WinTAK and Cursor on Target (CoT)
Windows application development (Visual Studio w/ C#)
Wireless communications protocols (WiFI, Cellular, AIS, ADS-B, etc)
Providing customer support CONUS and OCONUS
Field testing in austere locations

__________________________________________________


__________________________________________________


__________________________________________________

Bachelors degree or Masters degree in Computer Science, Computer Engineering, Electrical Engineering, Information Systems, IT
Highly motivated, self-learner, and technically inquisitive
Experience in programming language Java and understanding of the software development life cycle
Project work on the skills
Knowledge of Core Java , javascript , C&plus;&plus; or software programming
Spring boot, Microservices, Docker, Jenkins and REST API's experience
Excellent written and verbal communication skills
Project work on the technologies needed
Knowledge of Statistics, SAS, Python, Computer Vision, data visualization tools

__________________________________________________

Bachelors degree or Masters degree in Computer Science, Computer Engineering, Electrical Engineering, Information Systems, IT
Highly motivated, self-learner, and technically inquisitive
Experience in programming language Java and understanding of the software development life cycle
Knowledge of Core Java , javascript , C&plus;&plus; or software programming
Spring boot, Microservices and REST API's experience
Excellent written and verbal communication skills
Knowledge of Statistics, Python, data visualization tools

__________________________________________________

Implement and customize and maintain Microsoft .NET Core, .NET Framework applications & Angular front-end development.
Design, develop, and implement solutions in the Microsoft technology including C# Visual Studio, Sql Server (SSMS).
Develop and maintain Web APIs using .net Core and should have understanding of RESTful APIs.
Design and maintain DB Schemas and proficient in SQL queries and stored procedures.
Familiarity with Entity Framework Core for ORM-based database operations.
Experience with TypeScript, CSS, Javascript and jQuery
Experience in writing integration tests for APIs and frontend applications as well as unit tests.
Develop, deploy and manage applications in Azure.
Design and develop SSRS and crystal reports
Good communication skills and a team player

__________________________________________________


__________________________________________________


__________________________________________________

Proficiency in frontend development with React and JavaScript
Experience in working with a variety of 3rd party SDKs and APIs
Experience in full-stack development using Microsoft technologies such as .NET, C#, MVC, Web API, and SQL Server
Experience with cloud technology such as Microsoft Azure or AWS is preferred
Experience building, customizing, or integrating features within contact center software platforms is plus
Ability to work well independently

__________________________________________________

Software Development: Proficiency in high-level languages such as .NET, Java, Python, JavaScript/TypeScript, and experience with frameworks like React and Node.js.
System Architecture & CI/CD: Familiarity with designing and customizing complex applications, contributing to CI/CD pipelines, and working with cloud platforms such as AWS.
Automated Testing: Experience with automated testing (unit, integration, and UI) and CI/CD frameworks.
AWS Experience: Expertise with AWS services, including but not limited to EC2, S3, Lambda, and CloudFormation, is highly preferred. AWS Certifications are a plus.
Federal Experience: Prior experience working on projects for U.S. Federal organizations is preferred, but not required.
Clearance: U.S. Federal security clearance or eligibility to obtain one is preferred.

__________________________________________________


__________________________________________________


__________________________________________________


__________________________________________________

Strong experience in backend development using Python, Node.js, or Java.
Expertise in AWS Lambda, API Gateway, DynamoDB, and event-driven architectures.
Experience with CI/CD pipelines and containerization tools like Docker and Kubernetes.

__________________________________________________

2+ years of professional experience in software development
Strong foundation of programming concepts, object-oriented design and data structures
Experience programming with Java / Spring
Experience programming with JavaScript
RESTful API / data-driven web application experience
Familiarity with cloud platforms or deployment processes (e.g., AWS, Azure, or Docker)
Basic knowledge of relational databases and SQL
Excellent problem-solving skills and attention to detail
Demonstrated ability to learn and adapt to new technologies and frameworks quickly
Strong communication and collaboration skills for working in a team environment
Understanding of front-end development principles and experience working with frameworks like React or Angular
Experience with version control systems like Git
Knowledge of Agile or Scrum development methodologies
Experience working with the government, specifically with the Department of Homeland Security (DHS)

__________________________________________________

BS in Computer Science or equivalent
Minimum of 2 years of professional software development experience
Strong CS and software engineering fundamentals
Proven fluency in at least two of React, Node.js, NoSQL, SQL
Strong analytical and problem-solving skills
Strong verbal and written communication skills
Understanding of good software design and modern software engineering practices
MS in Computer Science or equivalent
Experience with tools we use every day:
Front-end frameworks: React, Redux
Back-end frameworks: Node.js, NestJS, AWS Lambdas
Tools and systems: Linux, Docker, AWS, Datadog, Terraform, Jenkins
Data stores: DynamoDB, Postgres, AWS S3
Proven passion for building and learning: open source contributions, pet projects, self-education, Stack Overflow
Experience in education or ed-tech

__________________________________________________

2+ years of experience delivering high quality software.
Experience building APIs, backend systems, and app architecture.
Deep technical expertise in one or more languages.
Strong understanding of computer science fundamentals and software engineering best practices.
Excellent problem-solving skills and ability to navigate ambiguous and evolving requirements.
Strong communication and collaboration skills within an agile team.
Ability to thrive in a fast-paced, dynamic environment with shifting priorities.
A growth mindset with a passion for continuous learning and improvement.
Strong grasp of modern, lean, web-application technologies
Familiarity creating integrations with external data sources and/or world class data visualizations
Experience in FinTech or working in a startup environment.
Familiarity with tools like Node.js, React, Next.js, Postgres, and AWS services.
Experience with CI/CD pipelines.
Understanding of mobile security best practices.
Building, optimizing, or integrating AI/ML solutions.
Mobile development experience

__________________________________________________

Experience writing easy-to-read, well-tested, low-resource Typescript
Exposure to, experience with, or deep acumen for evolutionary architecture (e.g. loose coupling, modularity, continuous deployment, and robust test automation)
Track record of good judgement in adopting 3rd party libraries and services
Scars from a few egregious mistakes, inc having taken production down a time or two
Great teammate, over great distances (and Zoom calls)
Pride in craft – good enough is never good enough for you, AND
Scrappy and entrepreneurial – you know how to think big & fail fast
Radically non-judgemental
Impacted by the criminal justice system (directly or indirectly)
Experience working in the fields of criminal justice or trucking
Experience working in a tech-based startup or nonprofit
Experience with Next.js, ReactNative, Prisma, and genAI

__________________________________________________


__________________________________________________


__________________________________________________

Excellent team and communication skills and experience collaborating closely across engineering and product
Experience in NodeJS, Typescript, React (or other framework) environments
Experience working in AWS building serverless and managed services (Lambda, S3, SQS, etc)
Deep expertise in designing and implementing great software following best practices (Frontend, Backend, or Both)
Passionate about being close to the customers to better understand their pain points
Experience with/understanding of various architectural styles (SOA, Microservices, Monoliths)
Expertise with various storage and caching technologies, scaling, and optimization
Self-driven and detail-oriented with a passion for learning
Team-oriented and willing to help drive excellence up and down the stack and across the team.
SQL in general but MySQL, PostgreSQL are preferred
Degree in Computer Science required

__________________________________________________


__________________________________________________


__________________________________________________

Bachelors degree or Masters degree in Computer Science, Computer Engineering, Electrical Engineering, Information Systems, IT
Highly motivated, self-learner, and technically inquisitive
Experience in programming language Java and understanding of the software development life cycle
Project work on the skills
Knowledge of Core Java , javascript , C++ or software programming
Spring boot, Microservices, Docker, Jenkins and REST API's experience
Excellent written and verbal communication skills
Project work on the technologies needed
Knowledge of Statistics, SAS, Python, Computer Vision, data visualization tools

__________________________________________________

Python
Proficiency in React or expert in equivalent frontend framework
Proficiency in Django or expert in equivalent web frameworks
Familiarity with SQL
Ability to learn and adapt quickly
Comfort with ambiguity in a fast-growing startup
Clear, concise communication skills
Enthusiasm to be stretched beyond a standard software engineering role
Interest or experience in financial or wealth tech
Initial screen: Have a quick 20-30 minute chat with the team to learn more about each other
Technical screen: Have an 45 minute technical screen where you'll be asked a coding question over Google Docs
Onsite Interview: 2-3 45-minute technical screens with our co-founder Alex and others from the engineering team. This should be a familiar process if you've interviewed at a company like Google. Those screens will be followed up by 2 separate 30-minute meetings with the other co-founders, Tim and Ben.
Get a decision: We'll get back to you within a week on what's next
Please note that while this is a remote US based position, we will coordinate an in person location for the first week of onboarding.

__________________________________________________

Bachelors degree or Masters degree in Computer Science, Computer Engineering, Electrical Engineering, Information Systems, IT
Highly motivated, self-learner, and technically inquisitive
Experience in programming language Java and understanding of the software development life cycle
Project work on the skills
Knowledge of Core Java , javascript , C++ or software programming
Spring boot, Microservices, Docker, Jenkins and REST API's experience
Excellent written and verbal communication skills
Project work on the technologies needed
Knowledge of Statistics, SAS, Python, Computer Vision, data visualization tools

__________________________________________________

2+ years of in-depth, hands-on experience with SaaS and Slack, and the ability to support 3rd party add-ons (M365, Zoom, Jira, Confluence, Lucid Chart and Lucid Spark, etc.)
Slack Admin or Slack Developer Certifications are preferred
Process-oriented mindset and experience enabling enterprise-level processes using Digital workplace tools (specifically Slack Admin, Slack Workflows, Slack Forms, and Slack APPs and APIs)
Experience configuring and supporting integration using development tools (e.g., Python, PowerShell, Java Script, and Postman)
Conceptual and practical understanding of SDLC, ITIL and Agile Frameworks
Technical understanding of common networking terms and tools
Previous experience in a dynamic and agile environment
Ability to work independently with minimal guidance and manage multiple clients and deliverables through effective time-management and planning
Strong interpersonal, written, and verbal communication skills
Strong executive presence, facilitation skills, drive for results, attention to quality and detail, and a collaborative attitude
Good work ethic and the ability to work with diverse teams across different time zones
Strong ability to multi-task and adapt to changing priorities
Bachelor's degree required
Extensive experience administering Atlassian products is a plus

__________________________________________________


__________________________________________________


__________________________________________________

Ability to obtain government security clearance
Bachelor's degree or equivalent experience
Familiarity with software development in Linux environments using a variety of programming and scripting languages including Java, Python, Go, C/C++, and/or bash
Familiarity with TCP/IP networking & related protocols (such as HTTP, SSH, IPSEC, TLS/SSL, etc)
Basic understanding of of private and public keys and or certificates
Experience with version control technologies such as Git
Agile or Scrum development experience
Red Hat Enterprise, Fedora or Ubuntu Linux operating systems
Experience with deploying cloud technologies such as MS Azure or AWS
Development experience in a distributed, parallel or clustered processing environment
Experience with virtual desktop redisplay technologies such as RDP, Citrix Receiver or VMware Horizon View
Experience with thin-client usage, management & deployment scenarios
Experience developing cloud-based technologies on Microsoft Azure or Amazon AWS

__________________________________________________

Bachelor's degree in information technology or related discipline required.
One year of practical experience in software development preferred.
Familiarity with generative AI technology preferred.
Hands-on experience on Microsoft Azure platform (devOps, CiCd, Azure monitoring, etc) preferred.
Good working knowledge of basic programming languages such as C#, Java, or Python.
Knowledge of databases and operating systems; working knowledge of MS SQL.
Familiarity with working with RESTful APIs.
Familiarity with database programming (i.e., SQL Server queries, triggers, stored procedures).
Familiarity with user interface (UI) programming (i.e., Javascript, HTML, Ajax, CSS).
Ability to adhere to best practices around writing well-structured, maintainable code in C# and SQL.
Ability and willingness to learn new technology quickly.
Exposure to CSS, Powershell, JavaScript.
Knowledge of machine learning and generative AI concepts and principles.
Ability to break complex problems down into small pieces.
Experience in Github or other version control system; familiarity with Ci/Cd concepts.
Familiarity with SRE concepts and experience in application KPI tracking will be a plus.
Understanding of Agile methodologies (Scrum, Kanban) will be a plus.
Ability to follow instructions and work effectively in a team environment.
Good communication skills in English.

__________________________________________________


__________________________________________________


__________________________________________________


__________________________________________________


__________________________________________________

Strong experience with PHP development, with a solid understanding of best practices for building and maintaining web applications.
Proficiency in web technologies such as HTML, CSS, JavaScript, and SQL.
Hands-on experience in creating and maintaining web pages, optimizing for SEO, UX, and conversion through PHP-driven solutions.
Familiarity with web performance monitoring tools and analytics to track page performance and user behavior.
Ability to collaborate closely with cross-functional teams, particularly marketing, sales, and design teams, to deliver high-impact web content.
Strong problem-solving and debugging skills, with the ability to troubleshoot and optimize PHP code.
Excellent communication skills and ability to translate business requirements into functional web solutions.

__________________________________________________

